<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>HelloWorld</servlet-name>
        <servlet-class>cc.com.servlet.HelloWorld</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HelloWorld</servlet-name>
        <url-pattern>/01</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SubmitForm</servlet-name>
        <servlet-class>cc.com.servlet.SubmitForm</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SubmitForm</servlet-name>
        <url-pattern>/submitForm</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdatePage</servlet-name>
        <servlet-class>cc.com.servlet.UpdatePage</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdatePage</servlet-name>
        <url-pattern>/updatePage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AllRequest</servlet-name>
        <servlet-class>cc.com.servlet.AllRequest</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AllRequest</servlet-name>
        <url-pattern>/allRequest</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AutoRefresh</servlet-name>
        <servlet-class>cc.com.servlet.AutoRefresh</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AutoRefresh</servlet-name>
        <url-pattern>/autoRefresh</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ThrowError</servlet-name>
        <servlet-class>cc.com.servlet.ThrowError</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>ThrowError</servlet-name>
        <url-pattern>/throwError</url-pattern>
    </servlet-mapping>
</web-app>