<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>vue</title>

    <!-- production version, optimized for size and speed -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <!-- jquery 3.3.1 -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  </head>

  <style>
    div[id *= 'app']{
      margin-top: 1rem;
    }

    div[id *= 'app']::after{
      display: block;
      height: 1px;
      background-color: lightgray;
      width: 100%;
      content: "";
      margin: 1rem 0;
    }

    div[id]:last-of-type::after{
      display: none;
    }
  </style>
  <body>
    <!-- text -->
    <div id="app0">
      <div v-once>v-once : {{ message }}</div>
      <div>{{ message }}</div>
      <input type="text" v-model="message">
    </div>

    <script type="text/javascript">
      var app0 = new Vue({
        el: '#app0',
        data: {
          message: 'rendering'
        }
      });
    </script>

    <!-- raw html -->
    <div id="app1">
      <div>you can't pass html code using {} <br>{{ rawHTML }}</div>
      <br>
      <span>you can pass html code using v-html</span>
      <div v-html="rawHTML"></div>
    </div>

    <script type="text/javascript">
      var app1 = new Vue({
        el: '#app1',
        data: {
          rawHTML: '<span style="color:red;">raw html</span>'
        }
      });
    </script>

    <!-- attributes -->
    <div id="app2">
      <div v-bind:id="myID"></div>
      <button v-bind:disabled="isButtonDisabled">button</button>
    </div>

    <script type="text/javascript">
      var app2 = new Vue({
        el: '#app2',
        data: {
          isButtonDisabled: 'ture',
          myID: 'myID'
        }
      });
    </script>

    <!-- using javascript expressions -->
    <div id="app3">
      <div v-bind:id="'id' + key">{{ msg }}. key is equl: {{ key +1 }}</div>
      <div>{{ bool ? 'yes' : 'no' }}</div>
      <button v-on:click="changeBool">change bool</button>
    </div>

    <script type="text/javascript">
      var app3 = new Vue({
        el: '#app3',
        data: {
          key: 1,
          msg: 'this is id "id1"',
          bool: true
        },
        methods: {
          changeBool: function(){
            if(this.bool){
              this.bool = false
            }
            else {
              this.bool = true
            }
          }
        }
      });
    </script>

    <!-- directive -->
    <div id="app4">
      <div v-if="show">
        <a href="javascript:;" v-bind:href="href" target="_blank">link using v-bind</a>
        <br>
        <a href="javascript:;" v-on:click="linkto('http://tw.yahoo.com')">link using Vue methods</a>
      </div>
      <button v-on:click="changeBool">change</button>
    </div>

    <script type="text/javascript">
      var app4 = new Vue({
        el: '#app4',
        data: {
          show: false,
          href: 'http://www.gamer.com.tw'
        },
        methods: {
          changeBool: function(){
            if(this.show){
              this.show = false;
            }else{
              this.show = true;
            }
          },
          linkto: function(url){
            window.open(url);
          }
        }
      });
    </script>

    <!-- short hand -->
    <div id="app5">
      <a :href="href" target="_blank" ref="hrefBtn">click href</a>
      <br>
      <button @click="trigger">trigger click</button>
    </div>

    <script type="text/javascript">
      var app5 = new Vue({
        el: '#app5',
        data: {
          href: 'http://tw.yahoo.com'
        },
        methods: {
          trigger: function(){
            var el = this.$refs.hrefBtn;
            el.click();
          }
        }
      });
    </script>

  </body>
</html>
