<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>vue</title>

    <!-- production version, optimized for size and speed -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
    <div id="app">
        <my-component :counter="count"></my-component>
        <my-component :counter="count"></my-component>
        <my-component :counter="count"></my-component>
    </div>

    <script type="text/x-template" id="xTemplateComponent">
        <div>
                  <span class="custom-block">{{ c }}</span>
                  <button @click="c++">ADD</button>
                </div>
              </script>

    <script type="text/javascript">
        Vue.component('my-component', {
            template: '#xTemplateComponent',
            props: ['counter'],
            data() {
                return {
                    c: this.counter.num
                }
            }
        });

        var app = new Vue({
            el: '#app',
            data: {
                count: {
                    num: 0
                }
            }
        });
    </script>
</body>

</html>